<!DOCTYPE html>

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/account.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d8d0f3c8c2.js" crossorigin="anonymous"></script>
    <title>Account - naturprodt</title>
</head>

<body>
    <header class="header">
        <section class="header__container">
            <div class="header__logo">
                <img src="../img/logo.svg">
            </div>
            <nav class="header__nav menu">
                <ul class="header__list menu_list">
                    <li class="header__item menu_item"><a href="products.html" class="header__list_button">Products</a></li>
                    <li class="header__item menu_item"><a href="recipes.html" class="header__list_button">Bio-recipes</a></li>
                    <li class="header__item menu_item"><a href="map.html" class="header__list_button">Map</a></li>
                </ul>
            </nav>
            <nav class="header__nav account">
                <ul class="header__list account_list">
                    <li class="header__item button">
                        <a href="#" class="account_list_button">
                            <i class="fas fa-cog"></i>
                        </a>
                    </li>
                    <li class="header__item button">
                        <a href="#" class="account_list_button">
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>

    <div class="account__info">
        <div class="account__container">
            <div class="account__nav menu__list">
                <ul class="menu__list list">
                    <li class="menu__list item">Informations</li>
                    <li class="menu__list item">Settings</li>
                </ul>
            </div>
            <div class="account__info">
                <section class="account__info info">
                    <table class="account__info table">
                        <tr>
                            <td>nick</td>
                            <td>example</td>
                        </tr>
                        <tr>
                            <td>e-mail</td>
                            <td>example@example.com</td>
                        </tr>
                        <tr>
                            <td>---</td>
                            <td>-----</td>
                        </tr>
                    </table>
                </section>
                <section class="account_info settings">
                    <form class="account_info settings__form" action="*">
                        <div class="settings__form item">
                            <label>Nick</label> <input type="text" name="nick"/>
                        </div>
                        <div class="settings__form item">
                            <label>Email</label> <input type="text" name="email"/>
                        </div>
                        <div class="settings__form item">
                            <button type="submit">Accept changes</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

</body>
</html>