<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/products.css">

    <script src="https://kit.fontawesome.com/d8d0f3c8c2.js" crossorigin="anonymous"></script>
    <title>PRODUCTS</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
			<i class="fas fa-leaf"></i>
            <ul class="menu">
                <li>
                    <a href="#" class="button">PRODUCTS</a>
                </li>
                <li>
                    <a href="#" class="button">BIO-RECIPES</a>
                </li>
                <li>
                    <a href="#" class="button">MAP</a>
                </li>
            </ul>

            <div class="search-bar">
                <form>
                    <input placeholder="search project">
                </form>
            </div>

            <ul class="accounts">
                <li>
                    <a href="https://www.snapchat.com/"><i class="fab fa-snapchat"></i></a>
                </li>
                <li>
                    <i href="#" class="fab fa-facebook"></i>
                </li>
                <li>
                    <i href="#" class="fab fa-instagram"></i>
                </li>
                <li>
                    <i href="#" class="fas fa-cog"></i>
                </li>
                <li>
                    <i href="#" class="fas fa-user-circle"></i>
                </li>
				<li>
                    <i href="#" class="fas fa-bars"></i>
                </li>
            </ul>
        </nav>
        
        <main>
            <header>
                <div class="add-project">
                    <i class="fas fa-plus"></i>
                    ADD PROJECT
                </div>
            </header>

            <section class="products">
                <div id="product-1">
                    <div>
                        <h2>Title</h2>
                        <p>description</p>
                    </div>
                    <img src="../img/uploads/strawberries.jpg">
                    <div class="social-section">
                        <i class="fas fa-heart"> 121</i>
                        <i class="fas fa-minus-square"> 50</i>
                        <i class="fas fa-shopping-cart"></i>
                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
                <div id="product-2">
                    <div>
                        <h2>Title</h2>
                        <p>description</p>
                    </div>
                    <img src="../img/uploads/strawberries.jpg">
                    <div class="social-section">
                        <i class="fas fa-heart"> 121</i>
                        <i class="fas fa-minus-square"> 50</i>
                        <i class="fas fa-shopping-cart"></i>
                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
                <div id="product-3">
                    <div>
                        <h2>Title</h2>
                        <p>description</p>
                    </div>
                    <img src="../img/uploads/strawberries.jpg">
                    <div class="social-section">
                        <i class="fas fa-heart"> 121</i>
                        <i class="fas fa-minus-square"> 50</i>
                        <i class="fas fa-shopping-cart"></i>
                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
                <div id="product-4">
                    <div>
                        <h2>Title</h2>
                        <p>description</p>
                    </div>
                    <img src="../img/uploads/strawberries.jpg">
                    <div class="social-section">
                        <i class="fas fa-heart"> 121</i>
                        <i class="fas fa-minus-square"> 50</i>
                        <i class="fas fa-shopping-cart"></i>
                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
                <div id="product-5">
                    <div>
                        <h2>Title</h2>
                        <p>description</p>
                    </div>
                    <img src="../img/uploads/strawberries.jpg">
                    <div class="social-section">
                        <i class="fas fa-heart"> 121</i>
                        <i class="fas fa-minus-square"> 50</i>
                        <i class="fas fa-shopping-cart"></i>
                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
                <div id="product-6">
                    <div>
                        <h2>Title</h2>
                        <p>description</p>
                    </div>
                    <img src="../img/uploads/strawberries.jpg">
                    <div class="social-section">
                        <i class="fas fa-heart"> 121</i>
                        <i class="fas fa-minus-square"> 50</i>
                        <i class="fas fa-shopping-cart"></i>
                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
                <div id="product-7">
                    <div>
                        <h2>Title</h2>
                        <p>description</p>
                    </div>
                    <img src="../img/uploads/strawberries.jpg">
                    <div class="social-section">
                        <i class="fas fa-heart"> 121</i>
                        <i class="fas fa-minus-square"> 50</i>
                        <i class="fas fa-shopping-cart"></i>
                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
                <div id="product-8">
                    <div>
                        <h2>Title</h2>
                        <p>description</p>
                    </div>
                    <img src="../img/uploads/strawberries.jpg">
                    <div class="social-section">
                        <i class="fas fa-heart"> 121</i>
                        <i class="fas fa-minus-square"> 50</i>
                        <i class="fas fa-shopping-cart"></i>
                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
                <div id="product-9">
                    <div>
                        <h2>Title</h2>
                        <p>description</p>
                    </div>
                    <img src="../img/uploads/strawberries.jpg">
                    <div class="social-section">
                        <i class="fas fa-heart"> 121</i>
                        <i class="fas fa-minus-square"> 50</i>
                        <i class="fas fa-shopping-cart"></i>
                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
                <div id="product-10">
                    <div>
                        <h2>Title</h2>
                        <p>description</p>
                    </div>
                    <img src="../img/uploads/strawberries.jpg">
                    <div class="social-section">
                        <i class="fas fa-heart"> 121</i>
                        <i class="fas fa-minus-square"> 50</i>
                        <i class="fas fa-shopping-cart"></i>
                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>