<!DOCTYPE html>

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/recipes.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d8d0f3c8c2.js" crossorigin="anonymous"></script>
    <title>naturprodt</title>
</head>

<body>
    <header class="header">
        <section class="header__container">
            <div class="header__logo">
                <img src="../img/logo.svg">
            </div>
            <nav class="header__nav menu">
                <ul class="header__list menu_list">
                    <li class="header__item menu_item"><a href="#" class="header__list_button">Products</a></li>
                    <li class="header__item menu_item"><a href="#" class="header__list_button">Bio-recipes</a></li>
                    <li class="header__item menu_item"><a href="#" class="header__list_button">Map</a></li>
                </ul>
            </nav>
            <nav class="header__nav account">
                <ul class="header__list account_list">
                    <li class="header__item button">
                        <a href="https://www.onet.pl/" class="account_list_button">
                            <i class="fas fa-cog"></i>
                        </a>
                    </li>
                    <li class="header__item button">
                        <a href="https://www.onet.pl/" class="account_list_button">
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="header__container__second">
            <button class="header__button addProject">
                <i class="fas fa-plus"></i>
                Add
            </button>
            <div class="header__searchBar searchBar">
                <form class="header_searchForm searchForm">
                    <input placeholder="search recipes">
                </form>
            </div>
        </section>
    </header>
    <section class="recipes">
        <section class="recipes__container">
            <div id="recipe__1">
                <img src="../img/uploads/strawberries.jpg">
                <div class="recipe recipe__overview">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima provident ea vel blanditiis officia facere eum officiis totam minus perferendis impedit nulla sapiente distinctio tempore, commodi a doloribus voluptates ipsa.</p>
                </div>
            </div>
            <div id="recipe__2">
                <img src="../img/uploads/strawberries.jpg">
                <div class="recipe recipe__overview">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore tenetur perferendis aliquam pariatur mollitia est voluptates vero quas, consectetur debitis quos labore laboriosam in facilis doloremque dicta inventore eos? Nostrum?</p>
                </div>
            </div>
            <div id="recipe__3">
                <img src="../img/uploads/strawberries.jpg">
                <div class="recipe recipe__overview">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt exercitationem atque magnam? Molestiae ab ipsum et maxime minima, sunt vitae harum accusamus, consectetur numquam deserunt quis necessitatibus eos, voluptas officia!</p>
                </div>
            </div>
            <div id="recipe__4">
                <img src="../img/uploads/strawberries.jpg">
                <div class="recipe recipe__overview">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, ullam culpa. Praesentium quasi distinctio rem voluptatum. Deserunt quo quisquam, temporibus dolor voluptate consequatur inventore qui! Molestias nisi laborum tenetur maxime!</p>
                </div>
            </div>
            <div id="recipe__5">
                <img src="../img/uploads/strawberries.jpg">
                <div class="recipe recipe__overview">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nisi autem, eius facere voluptatem, dolorum, sed a iure quibusdam consequuntur cum at temporibus? Doloribus quis, minus eaque suscipit deleniti temporibus!</p>
                </div>
            </div>
        </section>
    </section>
</body>

</html>