.map {
    display: flex;
    justify-content: center;
}

.map__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: calc((100vh - 88vh - 20px) / 2);
    margin-bottom: calc((100vh - 88vh - 20px) / 2);
}

.map__container iframe {
    width: 100vh;
    height: 80vh;
    box-shadow: 0px 6px 6px #0000002d;
}

@media only screen and (max-device-width: 865px) {
}