
.products__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.products__container>div {
	background: #DDECE9 0% 0% no-repeat padding-box;
	border-radius: 11px;
	width: auto;
}

.product.product__overview {
    height: 30%;
    margin: 1em;
    color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.products__container>div>img {
    height: 45%;
    width: 100%;
    object-fit: cover;
}

.product.social-section {
    display: flex;
    justify-content: center;
}

.product_list.social_list {
    display: flex;
    justify-content: center;
}

.social_item.icon {
    margin-right: 2em;
}

.fas.fa-heart {
	color: #f54254;
}

.fas.fa-minus-square {
	color: #42c5f5;
}

.fas.fa-shopping-cart {
	color: #f58a42;
}


@media only screen and (max-device-width: 850px) {

}