.products__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vh;
    padding: 2vh;
    overflow: auto;
}

.products__container>div {
	background: #DDECE9 0% 0% no-repeat padding-box;
	border-radius: 11px;
    justify-self: center;
    height: 50vh;
    width: 100%;
}

.product.product__overview {
    height: 35%;
    padding: 1vh;
    color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.product.product__overview>h2 {
    margin: 0;
}

.product.product__overview>p {
    overflow-y: auto;
    max-height: fit-content;
    text-align: justify;
    margin: 0;
    margin-top: 1vh;
}

.products__container>div>img {
    height: 45%;
    width: 100%;
    object-fit: cover;
}

.product.social__section {
    height: calc(10vh - 2vh - 5px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.product__list.social__list {
    display: flex;
    justify-content: center;
}

.social__item.icon {
    margin-right: 2em;
}

.fas.fa-heart {
	color: #f54254;
}

.fas.fa-minus-square {
	color: #42c5f5;
}

.fas.fa-shopping-cart {
	color: #f58a42;
}

@media only screen and (max-device-width: 865px) {
    .products__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5vh;
        overflow: auto;
        padding: 0;
    }
    
    .products__container>div {
        width: 80%;
    }
}