.recipes__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8vh;
    padding: 3vh;
    overflow: auto;
}

.recipes__container>div {
	background: #FFFFFF 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
	width: auto;
    height: 35vh;
}

.recipes__container>div>img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.recipe.recipe__overview {
    padding-left: 2vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #404040;
}

.recipe.recipe__overview>h2 {
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recipe__overview.text {
    height: calc(35vh - 4vh);
    width: 100%;
    overflow-y: auto;
    max-height: fit-content;
}

.recipe__overview.text>p {
    text-align: justify;
}


@media only screen and (max-device-width: 865px) {
    .recipes__container>div {
        flex-direction: column-reverse;
        height: 72vh;
    }

    .recipes__container>div>img {
        width: 100%;
        margin-top: 2vh;
    }

    .recipe.recipe__overview {
        width: 100%;
        padding-left: 0;
    }
}