body {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #1EDFC5 0%, #6D9441 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
}

.login-container {
    width: 50%;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
    background: #FFFFFFE3 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 5px #00000029;
    border: 1px solid #707070;
    border-radius: 50px;
}

button {
    background: transparent linear-gradient(180deg, #19CEC5 0%, #6C9441 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 8px #00000029;
    border-radius: 32px;
    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

img {
    width: 30em;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }
    * {
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        width: 20em;
    }
}

.base-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav {
    height: 10vh;
    width: 100%;
    background: transparent linear-gradient(180deg, #3EBF8ECC 0%, #55AA68E3 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #0000005C;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

nav > img {
    width: 10%;
    margin-right: 2em;
    margin-left: 1em;
}

ul.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: white;
    margin-right: auto;
    padding: 0;
    align-items: center;
}

li {
    margin-left: 1em;
    margin-right: 1em;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li i {
    font-size: 2em;
}

.button {
    box-shadow: 0px 5px 5px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 2em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    padding: 0.2em;
    width: 8em;
}

ul.accounts {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: white;
    margin-left: auto;
    padding: 0;
    align-items: center;
}

ul.accounts :nth-child(4) {
    margin-left: 5em;
}

.search-bar {
    width: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.search-bar>form>input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 5px #00000029;
    border: 2px solid #707070;
    border-radius: 15px;
    width: 100%;
    text-align: left;
    color: gray;
    margin: 0;
    box-sizing: border-box;
}


main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    margin-top: 2em;
    margin-bottom: 2em;
}

.add-project {
    background: transparent linear-gradient(180deg, #2AD2AF 0%, #51AE6F 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 5px #00000029;
    border: 1px solid #707070;
    border-radius: 1.5em;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
    width: 20%;
}

.add-project > i {
    padding: 1em;
}