* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

nav {
    display: flex;
    flex-direction: column;
	justify-content: center;
}
